<div id="layout">
  <!-- sidebar menu -->
  <% content_for :full_drawing do %>
    <a href="/" >Full</a>
  <% end %>
  <%= render :partial => 'layouts/sidebar' %>

  <div class="content">
    <div class="details">
      <div class="vertical-center">
        <div class="details-text">
          <%= @drawing.title %> <span>amdixon</span>
        </div>
      </div>
    </div>
    <div class="drawing">
      <%= image_tag @drawing.drawing_url.to_s %>
    </div>
    <div class="next">
      <div class="vertical-center">
        <div class="next-text">

          <%= link_to @next do %>
            <span>&#65516;</span> Next Drawing
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var container = document.querySelector('.drawing');

  // wait for images to load before calling js
  new imagesLoaded( container, function(){
    $('.drawing img').wheelzoom();
  });
</script>