<div id="layout">
  <div class="sidebar">
    <a href="/" class="logo">amonograph</a>
    <div class="search">
      <form>
        &#8594;
        <input type="text"></input>
      </form>
    </div>
    <div class="options">
      <h3>View</h3>
      <ul>
        <li>Full</li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="details">
      <div class="vertical-center">
        <div class="details-text">
          <%= @drawing.title %> <span>amdixon</span>
        </div>
      </div>
    </div>
    <div class="drawing">
      <%= image_tag @drawing.drawing_url.to_s %>
    </div>
    <div class="next">
      <div class="vertical-center">
        <div class="next-text">
          <span>&#65516;</span> Next Drawing
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var ready = function() {
    $('img').wheelzoom();
  };
  // run wheelzoom when images are loaded
  $(document).ready(ready);
  $(document).on('window:load', ready);
</script>