<div id="layout">
  <div class="sidebar">
    amonograph
    <div class="search">
      <form>
        &#8594;
        <input type="text"></input>
      </form>
    </div>
    <div class="options">
      <h3>View</h3>
    </div>
  </div>
  <div class="content">
    <div class="details">
      <div class="vertical-center">
        <div class="details-text">
          Jørn Utzon - Sydney Opera House <span>amdixon</span>
        </div>
      </div>
    </div>
    <div class="drawing">
      <%= image_tag "utzon_sydney.svg" %>
    </div>
    <div class="next">
      <div class="vertical-center">
        <div class="next-text">
          <span>&#65516;</span> Next Drawing
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  var ready = function() {
    $('img').wheelzoom();
  };
  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>