<div id="layout">
  <!-- sidebar menu -->
  <%= render :partial => 'layouts/header' %>

  <div class="subheader fadeInUp">
    Selected
    <p>Drawings</p>
  </div>

  <div class="content">
    <div class="index">
      <div id="container">
        <%= render :partial => 'drawings', :locals => { :drawings => @drawings } %>
      </div>
      <%= link_to('Load More Items', root_path(:page => @drawings.next_page), :remote => true, :class => 'load-more-items') %>
    </div>
  </div>
</div>

<script>
var $container = $('#container');
var msnry;

var main = function() {

  // wait for images to load
  $container.imagesLoaded( function(){

    // load masonry and set global variable
    $container.masonry({
      itemSelector: '.gallery'
    });

    // infinite scroll using inview
    $('a.load-more-items').off().on('inview', function(e, visible) {
      if (!visible) {
        return;
      }
      return $.getScript($(this).attr('href'));
    });
  });
};


$(document).on('ready', main);
</script>






