<div id="layout">
  <div class="sidebar">
    amonograph
    <div class="search">
      <form>
        &#8594;
        <input type="text"></input>
      </form>
    </div>
  </div>
  <div class="content">
    <div class="sort">
      <ul>
        <li><a href="#" class="active">Popular</a></li>
        <li><a href="#">Following</a></li>
        <li><a href="#">Newest</a></li>
      </ul>
    </div>
  </div>
</div>