body {
  font-family: Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.01em;
  overflow: auto;
  height: 100%;
  width: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  color: #b3b3b3;
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
label {
  display: block;
  margin-bottom: 8px;
}
input[type="text"]{
  background: none;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  outline: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  &:focus {
    border-color: #777;
    outline: none;
  }
}
textarea {
  background: none;
  border: 1px solid #e6e6e6;
  outline: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  &:focus {
    border-color: #777;
    outline: none;
  }
}
.button {
  background: none;
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  padding: 8px 16px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  &:hover {
    border-color: #4D4D4D;
    color: #4D4D4D;
  }
}
.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

/* ---------------------- */
/* Animations */
/* ---------------------- */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.layout {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.abs-alert {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  overflow: visible;
  .alert-wrap {
    border: 1px solid #ffe6e8;
    margin: 10px auto;
    padding: 6px;
    width: 600px;
  }
}

.sidebar {
  border-right: 1px solid #b3b3b3;
  bottom: 0;
  color: #777;
  font-size: 0.8em;
  position: fixed;
  text-align: center;
  top: 0;
  width: 260px;
  .sidebar-main {
    float: left;
    height: 100%;
    width: 246px;
    a.logo{
      line-height: 180px;
    }
    .search {
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      padding: 30px 0;
      width: 100%;
      .search-icon {
        padding-bottom: 10px;
      }
      input[type="text"]{
        background: none;
        border: none;
        border-bottom: 1px solid #e6e6e6;
        &:focus {
          border-color: #777;
          outline: none;
        }
      }
    }
    .options {
      margin: 20% 40px 0;
      text-align: left;
      h3 {
        display: inline-block;
        font-size: 0.8em;
        font-weight: normal;
        padding-bottom: 12px;
        text-transform: uppercase;
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          font-size: 1.2em;
          list-style: none;
          margin: 0;
          margin-bottom: 14px;
          a {
            color: #4d4d4d;
            opacity: 0.43;
            img {
              min-width: 16px;
              margin-right: 8px;
              vertical-align: middle;
            }
          }
          a.active {
            cursor: default;
            opacity: 1.0;
            pointer-events: none;
          }
        }
      }
      ul.sort {
      }
    }
  }
  .sidebar-close {
    border-left: 1px solid #e6e6e6;
    float: left;
    height: 100%;
    width: 12px;
  }
}

.content {
  bottom: 0;
  height: 100%;
  left: 0;
  margin-left: 260px;
  position: absolute;
  right: 0;
  top: 0;
  .details {
    border-bottom: 1px solid #ccc;
    display: table;
    height: 10%;
    width: 100%;
    .details-text {
      margin-left: 40px;
      span {
        color: #b3b3b3;
        font-size: 0.7em;
        margin-left: 10px;
      }
    }
  }
  .index {
    padding-bottom: 120px;
    width: 100%;
    .gallery {
      border: 1px solid #ccc;
      margin-top: 3%;
      margin-left: 3%;
      width: 45%;
      vertical-align: middle;
      -webkit-transition: all 0.6s ease;
      -moz-transition: all 0.6s ease;
      -o-transition: all 0.6s ease;
      transition: all 0.6s ease;
      a {
        color: #4d4d4d;
        text-decoration: none;
      }
      img {
        display: block;
        max-width: 100%;
      }
      h5 {
        font-weight: normal;
        margin: 1.67em;
        span {
          color: #b3b3b3;
          float: right;
        }
      }
      &:hover {
        border-color: #808080;
      }
    }
  }

  .load-more-items {
    display: block;
    padding-bottom: 40px;
    text-align: center;
  }
  .drawing {
    height: 80%;
    width: 100%;
    img {
      height: 100%;
      min-width: 100%;
      max-width: 100%;
      cursor: move;
    }
  }
  .next {
    border-top: 1px solid #ccc;
    display: table;
    height: 10%;
    width: 100%;
    .next-text {
      margin-left: 40px;
      span {
        margin-right: 6px;
      }
    }
  }

  .upload {
    margin: 40px;
    input[type="text"] {
      margin-bottom: 30px;
      width: 40%;
    }
    textarea {
      width: 40%;
      margin-bottom: 30px;
    }
    input[type="submit"] {
      margin-top: 20px;
    }
  }
}





