body {
  font-family: Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.01em;
  overflow: auto;
  height: 100%;
  width: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.sidebar {
  background: #333;
  bottom: 0;
  color: #777;
  font-size: 0.8em;
  padding: 60px 40px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 260px;
  a.logo{
    color: #777;
  }
  .search {
    margin-top: 35%;
    input[type="text"]{
      background: none;
      border: none;
      border-bottom: 1px solid #777;
    }
  }
  .options {
    margin-top: 35%;
    text-align: left;
    h3 {
      border-bottom: 1px solid #777;
      display: inline-block;
      font-size: 1em;
      font-weight: normal;
      padding-bottom: 4px;
    }
  }
}

.content {
  bottom: 0;
  height: 100%;
  left: 0;
  margin-left: 260px;
  position: absolute;
  right: 0;
  top: 0;
  .details {
    border-bottom: 1px solid #ccc;
    display: table;
    height: 10%;
    width: 100%;
    .details-text {
      margin-left: 40px;
      span {
        font-size: 0.7em;
        margin-left: 10px;
      }
    }
  }
  .drawing {
    height: 80%;
    width: 100%;
    .gallery {
      margin-top: 20px;
      margin-left: 20px;
      width: 47%;
      border: 1px solid #ccc;
      vertical-align: middle;
      img {
        display: block;
        max-width: 100%;
      }
      h5 {
        position: relative;
        z-index: 10;
      }
    }
  }
  .next {
    border-top: 1px solid #ccc;
    display: table;
    height: 10%;
    width: 100%;
    .next-text {
      margin-left: 40px;
      span {
        margin-right: 6px;
      }
    }
  }
}